@model IEnumerable<Lab2_KASR_MAGZ.Models.Medicine>

@{
    ViewData["Title"] = "Index";
}

<h1>Tu Salud en mis Manos</h1>
<b>IMPORT FILE</b>
<form asp-controller="Health" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile" value="" />
    <input type="submit" value="Import" />
</form>
<br />
<b>ENTER NEW PURCHASE</b>
<form asp-controller="Client" asp-action="Index">
    <input type="submit" value="Buy" />
</form>
<br />
<b>SUPPLY MEDCINES</b>
<form asp-controller="Health" asp-action="NewRessuply">
    <input type="submit" value="Resupply" />
</form>
<br />
<p><b>SHOW PreOrder/InOrder/PostOrder</b></p>
<form asp-controller="Health" asp-action="ListPre">
    <input type="submit" value="Pre-Order" />
</form>
<br />
<form asp-controller="Health" asp-action="ListIn">
    <input type="submit" value="In-Order" />
</form>
<br />
<form asp-controller="Health" asp-action="ListPost">
    <input type="submit" value="Post-Order" />
</form>